.frame {
  height: 100vh;
  background: url('../../images/frame-backdrop.png') no-repeat center center/contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 13vh 35vw 28vh;
  height: 70vh;
}

.title {
  font-family: 'Press Start 2P', cursive;
  font-size: x-large;
  text-align: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  text-align: center;
}