.adopt-text {
  font-size: 40px;
}

.name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-margin {
  margin-top: 2vh;
}

.wizard-gif {
  margin: 8vh 2vh 0;
}

.wizard-text {
  font-size: 30px;
}

.start-button {
  margin-top: 3vh;
}

.finale-text {
  font-size: 10px;
  margin-top: 10vh;
}

.name-container {
  display: flex;
}

.finale-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 53vh;
  margin: 0 2vw;
}
