.intro {
  text-align: center;
}

.name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-margin {
  margin-top: 2vh;
}

.finale-container {
  text-align: center;
  width: 40%;
  border: 2px solid red;
}
