.choice-btns-container {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 380px;
}

.book-button {
  background-color: #008A91;
  color: white;
}

.choice-button {
  background-color: #FFD20A;
}