.page-btn-container {
  display: flex;
  justify-content: center;
}

.page-btn-container button {
  margin: 0 10px;
}

.page-container {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 44vh;
}